<div class="row">
    <div class="col-md-4 mt-5 mx-auto">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
                <label for="username">Username</label>
                <input formControlName="username"  type="text" class="form-control" id="username">
                <div *ngIf="loginForm.get('username').invalid && (loginForm.get('username').touched || loginForm.get('username').dirty)">

                <div *ngIf="loginForm.get('username').getError('required')">this field is required</div>
</div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input formControlName="password" type="password" name="" class="form-control" id="password">
                <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').touched || loginForm.get('password').dirty)">

                <div *ngIf="loginForm.get('password').getError('required')">this field is required</div>
            </div>
            </div>
            
            <button [disabled]="loginForm.invalid" class="btn btn-block btn-primary">Login</button>
        </form>
    </div>
</div>
